/* div{
    border: black 1px solid;
     margin: 5px;
 } */
 .main{
     border: black 1px solid;
     margin: 5px;
     padding: -5px;
 }
 
 .menyknapp {
     background-color: black;
     color: white;
     padding: 10px;
     display: flex;
 }
 
 .menyknapp li{
     display: inline;
 }
 
 .menyknapp a{
     text-decoration: none;
     color:white;
    /*      top, right, bottom, left*/
     padding: 30px 20px 30px 20px;
 }
 
 .menyknapp a:hover{
     text-decoration: underline;
     color: black;
     background-color:white;
     font-weight: bold;
     
 }
 
 .topp{
     height: 75px;
     font-size: 40px;
     justify-content: space-between;
     display: flex;
     padding-top: 50px;
     border: black 1px solid;
     margin: 5px;
 }

 @media (max-width: 800px) {
    .topp {
        flex-direction: column;
    }
 }
 
 .innholdtekst{
     font-size: 20px;
     border: black 1px solid;
     margin: 5px;
 }
 
 .innhold{
     display: flex;
     font-size: 20px;
     
     
 }
 
 .artikkel{
     border: black 1px solid;
     margin: 5px;
 }
 
 @media (max-width: 800px) {
     .innhold {
       flex-direction: column;
     }
   }
 
 
 
 .artikkelbilde{
     text-align: center;
 }
 
 
 
 .footer{
     
     max-height: 400px;
     padding-top: 25px;
     text-align: center;
     display: flex;
     flex-direction: column;
     border: black 1px solid;
     margin: 5px;
 }
 .footerstarttekst{
     align-self: flex-start;
 
 }
 .infotopp{
     display: flex;
     flex-direction: row;
 }
 
 @media (max-width: 800px) {
     .infotopp {
       flex-direction: column;
     }
   }
 
 .info{
     text-align: center;
     display: flex;
     font-size: 20px;
 }
 .footerinfo{
     text-align: center;
 }
 
 p{
     font-size: 15px;
 }
 
 form{ font-size: 1px;}
 